<div class="room" fxLayout="column">
  <header class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <img class="img" matListAvatar src="/assets/images/evan.jpg" />
    <p>Alan</p>
    <div>
      <mat-icon matTooltip="搜尋">search</mat-icon>
      <mat-icon matTooltip="附加檔案" class="header-icon">attach_file</mat-icon>
      <mat-icon matTooltip="更多" class="header-icon">more_vert</mat-icon>
    </div>
  </header>
  <mat-divider></mat-divider>
  <div class="chart-room">
    <div class="message message-date" fxLayoutAlign="center center">
      <p class="text">
        星期四
      </p>
    </div>
    <div class="message message-other-side" fxLayoutAlign="start center">
      <p class="text">
        你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼
      </p>
    </div>
    <div class="message message-me" fxLayoutAlign="end center">
      <p class="text">
        崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥
      </p>
    </div>
    <div class="message message-date" fxLayoutAlign="center center">
      <p class="text">
        星期四
      </p>
    </div>
    <div class="message message-other-side" fxLayoutAlign="start center">
      <p class="text">
        你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼
      </p>
    </div>
    <div class="message message-me" fxLayoutAlign="end center">
      <p class="text">
        崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥
      </p>
    </div>
    <div class="message message-date" fxLayoutAlign="center center">
      <p class="text">
        星期四
      </p>
    </div>
    <div class="message message-other-side" fxLayoutAlign="start center">
      <p class="text">
        你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼
      </p>
    </div>
    <div class="message message-me" fxLayoutAlign="end center">
      <p class="text">
        崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥
      </p>
    </div>
    <div class="message message-date" fxLayoutAlign="center center">
      <p class="text">
        星期四
      </p>
    </div>
    <div class="message message-other-side" fxLayoutAlign="start center">
      <p class="text">
        你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼
      </p>
    </div>
    <div class="message message-me" fxLayoutAlign="end center">
      <p class="text">
        崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥
      </p>
    </div>
    <div class="message message-date" fxLayoutAlign="center center">
      <p class="text">
        星期四
      </p>
    </div>
    <div class="message message-other-side" fxLayoutAlign="start center">
      <p class="text">
        你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼你說什麼
      </p>
    </div>
    <div class="message message-me" fxLayoutAlign="end center">
      <p class="text">
        崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥崇軒很帥
      </p>
    </div>
  </div>
  <footer class="footer" fxLayout="row" fxLayoutAlign="center center">
    <input type="text" class="text">
    <button mat-mini-fab color="accent" class="margin-left-1em">
      <mat-icon matTooltip="輸入">subdirectory_arrow_left</mat-icon>
    </button>
  </footer>
</div>
