/* You can add global styles to this file, and also import other style files */

body {
  height: 100vh;
  background-color: #dfdfdf;
  background-image: linear-gradient(to bottom, #dddbd1, #d2dbdc);
}

.visibility-hidden {
  visibility: hidden;
}

.cursor-pointer {
  cursor: pointer;
}
